/* 1. Color de fondo
   2. Enlace a las visitas guiadas
   3. Traducción a otros idiomas*/



    
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 90px;
    background-color:rgb(247,247,247);
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    /*padding: 0;*/
    
}



.menu{
    width: 100%;
    /*background-color: white;*/
    background: hsla(206, 30%, 95%, 1);

background: linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F0F4F7", endColorstr="#83D0CB", GradientType=1 );
border-bottom: 3px solid /*rgb(255,105,180)*/  rgb(255,29,142);
    

    position: fixed;
    z-index: 100;
    margin: 0;
    display: flex;
    margin-top: -90px;
   
}

.holis{
    position: absolute;
    top: 10%;
    left: 5%;
    /*background-color:#fff;
    opacity: 0.8;*/
    padding: 10px 30px 10px 30px;
    text-align: center;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    border: 1px solid white;
  backdrop-filter: blur(3px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px 30px 10px 30px;
    
}

.titulo-inicial{
    margin-top: 20px;
    font-size: 32px;
    text-shadow: 2px 0 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    /*color:darkturquoise;*/
    /*color: rgb(255,105,180);*/
    color: rgb(255,29,142);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.texto-inicial{
    margin-top: 40px;
    font-size: 25px;
    text-justify: newspaper;
    line-height: 45px;
    font-weight: 500;
    color: #fff;
}

.texto1{

    font-size: 20px;
    
    
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.p-div{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    flex-wrap: wrap;

}

.div-titulo-texto{
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
}


.iconos{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: black;*/
    width: 100vw;
    overflow: hidden;

    
}




.div-img1{

    width: 100%;
    background-color:#fff;
    display: flex;
    
    


}



nav{
    width: 100%;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    
}

.imagen{
    display: inline-block;
    cursor: pointer;
    
}
nav ul{
    list-style: none;
    margin-top: 0;
    margin-left: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    
}

nav ul li{
    
    
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 17px;
    text-align: right;
    
    

}

nav ul li a{
    display: inline-block;
    padding: 20px;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

nav ul li a:hover{

    color:mediumspringgreen;
    background-color: rgb(0,127,255);
  border-radius: 5px;
  box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
}

img{
    
    width: 200px;
    
    padding: 8px;
}


.contenedor-visitas{

    display: flex;
    flex-direction: column;
}

.visitas{
    height: 200px;
    margin-left: 150px;
    margin-top: 50px;
    width: 80%;
    background-color:seashell;
    border: 3px solid ;
    border-color: tomato;
    border-radius: 10px;
    display: flex;
    padding: 30px;


}

.visita1{

    align-items: center;
}

.p1{
    margin-top: -10px;
    font-size: 22px;
    color: rgb(255,29,142);
    
    
}

.p2{

    /*margin-top: 10px;*/
    font-size: 19px;
}

.texto-visita{

    padding: 20px;
    
}

.img-visita1{

    height: 100%;

}

.visita4{
    margin-bottom: 60px;

}

.contenedor-abajo{
    height: 250px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.abajo{
    width: 400px;
    margin: 10px;
    /*background-color:cadetblue;
    border-color:  blue;
    border: 3px solid;*/
    /*border-radius: 10px  ;*/
    display: flex;
    border-bottom: 5px solid rgb(247,247,247);;
    transition-duration: 1s;
}
.abajo:hover{
    
    /*background-color:deepskyblue;*/
    border-bottom: 5px solid rgb(0,191,255);
    /*font-size: 24px;
    font-size: 19px;*/
    box-shadow: 0 -1px 10px 2px rgb(206,206,206);
    

}


.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    
    
}

.texto-abajo{
    padding: 20px;
    width: 500px;

}


.icon1{
    position: relative;
    margin: 0;
    /*left: 50%;*/
   
    justify-self: center;
    width: 50px;
}   
.icon2{
    
    margin: 0;
    position: relative;
    /*left: 50%;*/
    justify-self: center;
    width: 50px;
    
    
}

.icon3{
    position: relative;
    margin: 0;
    /*left: 50%;*/
    
    justify-self: center;
    width: 50px;
}

.p1-abajo{
    margin-left: 0;
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
    color: rgb(0,191,255);
    font-weight: 600;
}

.p2-abajo{
    margin-left: 0;
    font-size: 17px;
    padding: 15px;
}
.redes-sociales{

    display: flex;
    align-items: center;
    margin-right: 50px;
    
}

.instagram{

    max-width: 40px;
    height: auto;
    margin-left: 15px;
}
.youtube{

    max-width: 40px;
    height: auto;
    margin-left: 15px;
}

.tripadvisor{
    max-width: 65px;
    height: auto;
    margin-left: 15px;

}

.red:hover{
    transform: scale(1.1);
}


.img-recta{
    width: 100%;
    height: 91vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
    
}

.inicio{
    border-bottom: 3px solid /*rgb(255,105,180)*/  rgb(255,29,142);

}

.resaltar{
    font-style: italic;
    color: rgb(255,29,142);
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* CAROUSEL */




main section {
    width: 90%;
    height: 80vh;
    padding: 4rem 0;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 100px;
  }
  main section .carousel-container {
    width: 100%;
    height: 80vh;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.375rem;
  }
  main section .carousel-container .item {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    animation: fade 0.3s ease-in-out;
  }
  main section .carousel-container .item .numbertext {
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    color:cadetblue;
    background-color: rgba(0, 0, 0, 0.9);
  }
  main section .carousel-container .item .image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  main section .carousel-container .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main section .carousel-container .item .text {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
  }
  main section .carousel-container .item .text .title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
  main section .carousel-container .prev,
  main section .carousel-container .next {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 1rem;
    background-color: #fff;
    color:blueviolet;
    border-radius: 50%;
    transition: 0.6s ease;
  }
  main section .carousel-container .prev:focus, main section .carousel-container .prev:hover,
  main section .carousel-container .next:focus,
  main section .carousel-container .next:hover {
    background-color:burlywood
  }
  main section .carousel-container .prev {
    left: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main section .carousel-container .next {
    right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main section .carousel-container .dots {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main section .carousel-container .dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
  }
  main section .carousel-container .dots .dot:focus, main section .carousel-container .dots .dot:hover {
    background-color: #717171;
  }
  
  @keyframes fade {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 1;
    }
  }

  /* Agregado*/

  .contenedor-abajo1{
    display: flex;
    /*background-color:rgb(60, 60, 60) ;*/
    border-radius: 10px;
    height: 420px;
    /*background-color: beige;*/
  }
  
  .contenedor-texto-principal{
    display: flex;
    text-align: center;
    
    padding-top: 1%;
    width: 50%;
    /*background-color: darkgreen;*/
    
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    
    
  }
  
  
  
  
  
  .texto-principal{
    line-height: 40px;
    font-size: 20px;
  }
  
  .contenedor-laSumaDeTodos{
    width: 50%;
    
    display: flex;
    
    
    background-color: blue;
    height: 500px;
  
  }
  
  .laSumaDeTodos{
  
    width: 100%;
    object-fit: cover;
    
    
    
  }
  
  
  .contenedor-ventajas{
    
    width: 100%;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    height: 650px;
    /*background-color: beige;*/
    
  
  }
  
  
  .titulo-ventajas{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255,29,142);
  }
  
  .texto-ventajas{
    margin: 10px;
    font-size: 19px;
    line-height: 25px;
  }
  
  .ventajas{
    justify-self: center;
    margin: 30px auto;
    text-align: center;
    font-size: 19px;
    border: 3px solid;
    border-color:blue;
    width: 700px;
    height: 120px;
    text-align: center;
    padding-top: 20px;
    background-color:seashell;
    border-radius: 20px;
    transition-duration: 1.5s;
  }
  
  .ventaja1{
    position: relative;
    left: -30%;
    opacity: 0.3;
    transition-duration: 2.5s;
  
  }
  
  .transform{
    
    transform: translateX(17%);
  }
  
  .transform2{
    transform: translateX(-17%);
  
  }
  
  
  .ventaja2{
    position: relative;
    left: 30%;
    opacity: 0.3;
    transition-duration: 2.5s;
  }
  
  /*.ventaja1:hover {
    background-color: blueviolet;
    left: -200%;
  }*/
  .ventaja3{
    position: relative;
    left: -30%;
    opacity: 0.3;
    transition-duration: 2.5s;
  }
  .ventaja4{
    position: relative;
    left: 30%;
    opacity: 0.3;
  }
  
  .aparece{
    opacity: 1;
  }
  
  
  
  
  
  
  
  
  .P-div{
      
      
  }
  
  
  
  
  .titulo-imagen{
    color: rgb(255,29,142) ;
  }
  
  
  
  
  
  
  
  
  img{
      
    width: 200px;
    
    padding: 8px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .redes-sociales{
  
    display: flex;
    align-items: center;
    margin-right: 50px;
    
  }
  
  .instagram{
  
    max-width: 40px;
    height: auto;
    margin-left: 15px;
  }
  .youtube{
  
    max-width: 40px;
    height: auto;
    margin-left: 15px;
  }
  
  .tripadvisor{
    max-width: 65px;
    height: auto;
    margin-left: 15px;
  
  }
  
  .red:hover{
    transform: scale(1.1);
  }
  .titulo-banderas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
  }
  
  .contenedor-banderas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .bandera{
    width: 100px;
    margin: 75px;
    margin-bottom: 10px;
  }
  
  .encima-bandera{
    display: block;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .texto-bandera{
    text-align: center;
    opacity: 0;
    transition-duration: 1s;
  }
  
  .bandera:hover ~ .texto-bandera{
    opacity: 1;
  }
  
  .bandera-españa{
    width: 120px;
    margin: 75px;
    margin-bottom: 10px;
  }
  
  @keyframes mover {
    
    from{
      /*transform: translate(100px);*/
      /*transform: translate(350px,0);*/
      left: -100%;
    }
    to{
      /*transform: translate(200px);*/
      left: -22%;
    }
  
    
  }

  