/* 1. Color de fondo
   2. Enlace a las visitas guiadas
   3. Traducción a otros idiomas*/





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 90px;
    background-color:bisque;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    /*padding: 0;*/
    
}



.menu{
    width: 100%;
    /*background-color: white;*/
    background: hsla(206, 30%, 95%, 1);

background: linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F0F4F7", endColorstr="#83D0CB", GradientType=1 );
    box-shadow: 0 1px 10px ;

    position: fixed;
    z-index: 100;
    margin: 0;
    display: flex;
    margin-top: -90px;
   
}



.titulo-texto{
    position: absolute;
    top: 15%;
    left: 20%;
    
    font-size: 40px;
    text-align: center;
    color:darkturquoise;
    text-shadow: 4px 0 4px black, 0 1px black, 1px 0 black, 0 -1px black;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.texto1{

    font-size: 20px;
    
    
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.p-div{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:bisque;
    flex-wrap: wrap;

}

.div-titulo-texto{
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
}


.iconos{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: black;*/
    width: 100vw;
    overflow: hidden;

    
}

.icono{
    margin: 50px;
}


.div-img1{

    width: 100%;
    background-color:#fff;
    display: flex;
    
    


}



nav{
    width: 100%;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    
}

.imagen{
    display: inline-block;
    cursor: pointer;
    
}
nav ul{
    list-style: none;
    margin-top: 0;
    margin-left: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    
}

nav ul li{
    
    
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 17px;
    text-align: right;
    
    

}

nav ul li a{
    display: inline-block;
    padding: 20px;
    text-decoration:none;
    
}

nav ul li a:hover{

    background-color:lightblue;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
}

img{
    
    width: 200px;
    
    padding: 8px;
}


.contenedor-visitas{

    display: flex;
    flex-direction: column;
}

.visitas{
    height: 200px;
    margin-left: 150px;
    margin-top: 50px;
    width: 80%;
    background-color:seashell;
    border: 3px solid ;
    border-color: tomato;
    border-radius: 10px;
    display: flex;
    padding: 30px;


}

.visita1{

    align-items: center;
}

.p1{

    font-size: 22px;
    
    
}

.p2{

    margin-top: 10px;
    font-size: 17px;
}

.texto-visita{

    padding: 20px;
}

.img-visita1{

    height: 100%;

}

.visita4{
    margin-bottom: 60px;

}

.contenedor-abajo{
    height: 250px;
    width: 100%;
    background-color:bisque;

    display: flex;
    align-items: center;
    justify-content: center;

}

.abajo{
    width: 400px;
    margin: 10px;
    background-color:cadetblue;
    border-radius: 10px  ;
    border-color:  blue;
    border: 3px solid;
    transition-property: background-color;
    transition-duration: 1s;
}
.abajo:hover{

    background-color:deepskyblue;
    
    font-size: 24px;
    font-size: 19px;
    

}





.p1-abajo{

    font-size: 22px;
    margin-top: 15px;
    text-align: center;
}

.p2-abajo{

    font-size: 17px;
    padding: 15px;
}
.redes-sociales{

    display: flex;
    align-items: center;
    margin-right: 100px;
    
}

.instagram{

    max-width: 50px;
    height: auto;
    margin-left: 50px;
}
.youtube{

    max-width: 50px;
    height: auto;
    margin-left: 50px;
}

.tripadvisor{
    max-width: 75px;
    height: auto;
    margin-left: 50px;

}

.red:hover{
    transform: scale(1.1);
}


.img-recta{
    width: 100%;
    height: 430px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    
}
