@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Nunito+Sans:wght@600&family=Poppins:wght@400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 90px;
     background-color:rgb(247,247,247);
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    
    overflow-x: hidden;
   
    
}



.menu{
  width: 100%;
  /*background-color: white;*/
  background: hsla(206, 30%, 95%, 1);

background: linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(206, 30%, 95%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F0F4F7", endColorstr="#83D0CB", GradientType=1 );
  
  border-bottom: 3px solid rgb(255,29,142);
  position: fixed;
  z-index: 100;
  margin: 0;
  display: flex;
  margin-top: -90px;
 
}



.contenedor-arriba{
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-color: black;*/
  width: 100vw;
  overflow: hidden;
}
.img-recta{
  width: 100%;
  height: 635px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  
}

.contenedor-texto-arriba{
  position: absolute;
  top: 10%;
  left: 5%;
  /*background-color:#fff;*/
  /*opacity: 0.3;*/
  background-color: rgba(255, 250, 250, 0.3);
  padding: 10px 30px 10px 30px;
  text-align: center;
  width: 500px;
  height: 550px;
  border-radius: 15px;
  border: 1px solid white;
  backdrop-filter: blur(3px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
  
}

.titulo-inicial{
  margin-top: 20px;
  font-size: 32px;
  text-shadow: 2px 0 2px black, 0 1px black, 1px 0 black, 0 -1px black;
  /*color:darkturquoise;*/
  /*color: rgb(255,105,180);*/
  color: rgb(255,29,142);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.texto-inicial{
  margin-top: 40px;
  font-size: 25px;
  text-justify: newspaper;
  line-height: 45px;
  font-weight: 500;
 
}


.pag{
  border-bottom: 3px solid rgb(255,29,142) ;
}

.imagen{
  display: inline-block;
  
}

.contenedor-texto{

  
  padding: 80px;;
  text-align: center;
  /*background-color: beige;*/
  width: 50%;
}

.palabra_menu{
  color:royalblue;
}

.contenedor-texto h1{

  font-size: 28px;

}

.contenedor-texto p{
  margin-top: 50px;
  font-size: 20px;
  line-height: 30px;

}


.titulo-texto{
    top: 0px;
    position: absolute;
    padding: 30px;
    text-align: center;
}

.texto1{

    font-size: 20px;
    top: 60px;
    position: absolute;
    padding: 30px;
}

.div-titulo-texto{
    width: 100%;
    height: 200px;
    top: 35%;
    position: absolute;
    background-color: white;
    opacity: 70%;
}

.jaja{
    width: 100%;
}

.div-img1{

    width: 100%;
    
    
    


}

.img1{

width: 100%;

}

nav{
    width: 100%;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    
    
}

.contenedor{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  
}
.contenedor-mi-imagen{
  width: 50%;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  background-color: blue;
  height: 500px;
  /*overflow: hidden;*/
  

}
.mi-imagen{
    
  height: 100%;
  
  object-fit: cover;
  margin: 0;
  width: 100%;
  
  

    
}
nav ul{
  list-style: none;
    margin-top: 0;
    margin-left: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    
}

nav ul li{
    
    
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 17px;
    text-align: right;
    
    

}

nav ul li a{
  display: inline-block;
  padding: 20px;
  text-decoration:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

nav ul li a:hover{

  color:mediumspringgreen;
    background-color: rgb(0,127,255);
  border-radius: 5px;
  box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
}

.contenedor-abajo1{
  display: flex;
  /*background-color:rgb(60, 60, 60) ;*/
  border-radius: 10px;
  height: 420px;
  /*background-color: beige;*/
}

.contenedor-texto-principal{
  display: flex;
  text-align: center;
  
  padding-top: 1%;
  width: 50%;
  /*background-color: darkgreen;*/
  
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  
  
}





.texto-principal{
  line-height: 40px;
  font-size: 20px;
}

.contenedor-laSumaDeTodos{
  width: 50%;
  
  display: flex;
  
  
  background-color: blue;
  height: 500px;

}

.laSumaDeTodos{

  width: 100%;
  object-fit: cover;
  
  
  
}


.contenedor-ventajas{
  
  width: 100%;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  height: 650px;
  /*background-color: beige;*/
  

}


.titulo-ventajas{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255,29,142);
}

.texto-ventajas{
  margin: 10px;
  font-size: 19px;
  line-height: 25px;
}

.ventajas{
  justify-self: center;
  margin: 30px auto;
  text-align: center;
  font-size: 19px;
  border: 3px solid;
  border-color:blue;
  width: 700px;
  height: 120px;
  text-align: center;
  padding-top: 20px;
  background-color:seashell;
  border-radius: 20px;
  transition-duration: 1.5s;
}

.ventaja1{
  position: relative;
  left: -30%;
  opacity: 0.3;
  transition-duration: 2.5s;

}

.transform{
  
  transform: translateX(17%);
}

.transform2{
  transform: translateX(-17%);

}


.ventaja2{
  position: relative;
  left: 30%;
  opacity: 0.3;
  transition-duration: 2.5s;
}

/*.ventaja1:hover {
  background-color: blueviolet;
  left: -200%;
}*/
.ventaja3{
  position: relative;
  left: -30%;
  opacity: 0.3;
  transition-duration: 2.5s;
}
.ventaja4{
  position: relative;
  left: 30%;
  opacity: 0.3;
}

.aparece{
  opacity: 1;
}








.P-div{
    
    
}




.titulo-imagen{
  color: rgb(255,29,142) ;
}








img{
    
  width: 200px;
  
  padding: 8px;
}























.redes-sociales{

  display: flex;
  align-items: center;
  margin-right: 50px;
  
}

.instagram{

  max-width: 40px;
  height: auto;
  margin-left: 15px;
}
.youtube{

  max-width: 40px;
  height: auto;
  margin-left: 15px;
}

.tripadvisor{
  max-width: 65px;
  height: auto;
  margin-left: 15px;

}

.red:hover{
  transform: scale(1.1);
}
.titulo-banderas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
}

.contenedor-banderas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.bandera{
  width: 100px;
  margin: 75px;
  margin-bottom: 10px;
}

.encima-bandera{
  display: block;
  align-items: center;
  justify-content: center;
  
  
}

.texto-bandera{
  text-align: center;
  opacity: 0;
  transition-duration: 1s;
}

.bandera:hover ~ .texto-bandera{
  opacity: 1;
}

.bandera-españa{
  width: 120px;
  margin: 75px;
  margin-bottom: 10px;
}

@keyframes mover {
  
  from{
    /*transform: translate(100px);*/
    /*transform: translate(350px,0);*/
    left: -100%;
  }
  to{
    /*transform: translate(200px);*/
    left: -22%;
  }

  
}